WebContent/wsdl/Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://demo.rest.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://demo.rest.com" xmlns:intf="http://demo.rest.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://demo.rest.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doLoginPost">
    <complexType>
     <sequence>
      <element name="string" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doLoginPostResponse">
    <complexType>
     <sequence>
      <element name="doLoginPostReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doLogin">
    <complexType>
     <sequence>
      <element name="uname" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doLoginResponse">
    <complexType>
     <sequence>
      <element name="doLoginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doLoginPostRequest">

      <wsdl:part element="impl:doLoginPost" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doLoginResponse">

      <wsdl:part element="impl:doLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doLoginRequest">

      <wsdl:part element="impl:doLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doLoginPostResponse">

      <wsdl:part element="impl:doLoginPostResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login">

      <wsdl:operation name="doLoginPost">

         <wsdl:input message="impl:doLoginPostRequest" name="doLoginPostRequest">

       </wsdl:input>

         <wsdl:output message="impl:doLoginPostResponse" name="doLoginPostResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doLogin">

         <wsdl:input message="impl:doLoginRequest" name="doLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:doLoginResponse" name="doLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginSoapBinding" type="impl:Login">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doLoginPost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doLoginPostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doLoginPostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginService">

      <wsdl:port binding="impl:LoginSoapBinding" name="Login">

         <wsdlsoap:address location="http://localhost:8084/RestDemo/services/Login"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
